<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

<ul>
  <li><a href="search_user">search</a></li>
  <li><a href="create_user">create</a></li>
  <li><a href="profile_user">profile</a></li>
</ul>

    <div class="container">
      <h1>New post</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Title" name="title" value="{{
          request.form.title }}">
         <input type="text" placeholder="Content" name="content" value="{{
          request.form.content }}">
        <input class="btn btn-default" type="submit" value="Login">
    </div>
  </body>
</html>
