<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

	<ul>
	  <li><a href="search_user">search</a></li>
	  <li><a href="create_user">create</a></li>
	  <li><a href="profile_user">profile</a></li>
	</ul>

    <div class="container">
		<form action="" method="post">
		<input type="text" placeholder="SearchField" name="searchfield" value="{{
		  request.form.searchfield }}">
		<input class="btn btn-default" type="submit" value="search">
		</form>
    </div>
  </body>
</html>
